.movie-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 400px;
    margin-left: 20px;
  }

  .movie-card img {
    max-width: 100%;
    max-height: 200px;
  }
  
  
  h3 {
    margin-left: 10px;
    color: #333;
    margin-bottom: 8px;
  }
  
  p {
    margin-left: 10px;
    color: #666;
    font-size: 14px;
  }
  